.f-carousel {
   --f-carousel-spacing: 10px;
   --f-carousel-slide-width: 100%;
   --f-progress-color: #2DB1FB;

   &__slide {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 1.5rem;

      img {
         display: block;
         max-height: 17rem;
      }
   }

   &__dots {
      margin-bottom: -2.5rem !important;
   }
}